:root {
    font-family: 'Source Sans Pro', sans-serif;
    --ruby-red: #a41623;
    --carmine: #90141e;
    --light-coral: #f08080;
    --yellow: #ffd642;
    --honolulu-blue: #006ba6;
    --dodger-blue: #0496ff;
    --shadow: #252526;
    --soft-shadow: #353536;
    --midnight-blue: #30226d;
    font-size: 16px;
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--shadow);
}

.container {
    display: flex;
    flex-direction: column;
   /* align-items: center;*/
    column-gap: 3.5rem;
    height: 100vh;
    max-width: 500px;
    border: 10px solid #4b36a7;
    background: var(--midnight-blue);
    margin: 0 auto;
}

.score-area {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1rem;
    height: 10vh;
}

.score-count {
    color: var(--light-coral);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0.5rem;
}

.name {
    margin: 0;
    padding: 0;
}

.robot-area,
.player-area {
    background: #4b36a7;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.robot-area p,
.player-area p {
    margin: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    position: relative;
    transition: all 0.5s;
    opacity: 1;
}

.youChoseText,
.robotChoseText {
    color: var(--light-coral);
    font-size: 1.8rem;

}

.robot-area p {
    left: 3vw;
    transition: all 1s;
}

.player-area p {
    right: 3vw;
}

.robot-img {
    height: 7rem;
    position: relative;
    left: 0.9vh;
    transition: all 1s;
    opacity: 1;
}

.player-img {
    height: 7rem;
    position: relative;
    right: 0.9vh;
    transition: all 1s;
    opacity: 1;
}

.info-area {
    height: 28vh;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.heading,
.info,
.info-area {
    margin: 0 auto;
    padding: 0;
    
}

.info-area a {
    text-decoration: none;
    color: #c6bdf1;
}

.heading {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    font-size: 2.2rem;
}

.animation-breathe{
    animation: breathe 1s ease-in-out 0.3s infinite alternate forwards;
}

@keyframes breathe {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}

.start {
    padding: 10px 25px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    background: var(--yellow);
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 6px 2px #4b36a7;
}

.start:hover {
    background-color: var(--light-coral);
}

.start:active {
    transform: translate(0px, 5px);
    box-shadow: 0px 1px 3px #4b36a7;
}

.info {
    display: none;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    color: var(--light-coral)
}

.choices-area {
    display: flex;
    gap: 3rem;
    text-align: center;
    justify-content: center;
    padding: 1.5rem;
    height: 10vh;
    /*border: 1px solid red;*/
}

.choices-area button {
    border-radius: 50%;
    border: none;
    background-color: var(--yellow);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.choices-area button:hover {
    background-color: var(--light-coral);
}

.choices-area button:active {
    transform: translate(5px,-5px);
}

.choices-area img{
    width: 4rem;
    transition: all 0.3s ease-in-out;
}

.choices-area img:hover {
    transform: rotate(-15deg);
}

.caption {
    font-size: 1.5rem;
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin: 1rem 0;
}

.display-hide {
    display: none;
}

.zero-opacity {
    opacity: 0;
}



/*
body{
    background: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 50px 10px;
}

button{
    display: block;
    margin: auto;
    color: white;
    background: #c143ff;
    border-radius: 10px;
    border: none;
    padding: 20px 40px;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover{
    background: linear-gradient(90deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
    padding: 25px 50px;
}

p{
    text-align: center;
    font-size: 18px;
    padding: 20px;
}

#restart{
    color: #c143ff;
    font-weight: bold;
    border: 2px solid blue;
}
*/